.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 400px;
  grid-template-rows: 1fr 1fr 20px;
  /* row-gap: 50px; */
  /* column-gap: 30px; */
  grid-template-areas:  "plot controls"
                        "stats control-3d" 
                        "stat coeficients";
  /* gap: 5px; */
}
.plot {
  grid-area: plot;
}
.control-3d {
  grid-area: control-3d;
}
.stats {
  grid-area: stats;  
}
.controls {
  grid-area: controls;
}
.coeficients {
  grid-area: coeficients;
}

.item {
  background: lightblue;
  /* padding: 10px; */
  /* border: 1px solid red; */
}
/* .item:nth-of-type(1) {
  grid-column: inicio / destacado-end;
} */